body{
  background-color: lightblue;
}
h1 {
  color: navy;
   text-align: center;
}
h2 {
  color: officegreen;
   text-align: center;
}
h3 {
  color: goldenrod;
   text-align: center;
}
h4 {
  color: firebrick;
   text-align: center;
}
.uusiTeht {
  width: 400px;
  font-style: italic;
  color: rgb(78, 14, 14);
  background-color: cadetblue;
  border-radius: 2mm 2mm;
  vertical-align: middle;
}
