body{
  background-color: lightblue;
}
h1 {
  color: navy;
   text-align: center;
}
h2 {
  color: mediumspringgreen;
   text-align: center;
}
h3 {
  color: goldenrod;
   text-align: center;
}
h4 {
  color: firebrick;
   text-align: center;
}
.uusiTeht {
  width: "50px";
  align: center;
}
